In [1]:
from pyspark.sql import SparkSession

In [2]:
saprk = SparkSession.builder.appName("streamer").getOrCreate()

25/03/31 16:30:06 WARN Utils: Your hostname, TTNPL-8203 resolves to a loopback address: 127.0.1.1; using 10.1.209.136 instead (on interface wlp0s20f3)
25/03/31 16:30:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/31 16:30:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/31 16:30:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
print(saprk
     )

<pyspark.sql.session.SparkSession object at 0x754d7f50b460>

In [10]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [7]:
schema = StructType([
    StructField("id",IntegerType(),True),
    StructField("name",StringType(),True),
    StructField("dept",StringType(),True),
    StructField("salary",IntegerType(),True)
])
df = saprk.readStream.csv("file:///home/hdoop/notebooks/data/spark_practice/example_31Mar2025/*",header= True,schema=schema)

In [8]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: integer (nullable = true)

In [11]:
df2 = df.withColumn("fine",col("salary")*0.01)

In [12]:
df3 = df2.withColumn("bonus",col("salary")*0.1-col("fine"))

In [ ]:
query = df.writeStream.format("console").outputMode("append").trigger(processingTime="10 seconds").start().awaitTermination()

25/03/31 20:12:12 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-76cbd483-d604-4f11-9369-5311a62a479e. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
25/03/31 20:12:12 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

-------------------------------------------
Batch: 0
-------------------------------------------
+---+--------+--------+------+
| id|    name|    dept|salary|
+---+--------+--------+------+
|  1|  mayank|      IT|100000|
|  2|   advay|      HR|150000|
|  3|   rohan|      IT|145000|
|  4|   naman|Hardware| 45000|
|  5|priyansh|      IT|120000|
|  1|  mayank|      IT|100000|
|  2|   advay|      HR|150000|
|  3|   rohan|      IT|145000|
+---+--------+--------+------+

-------------------------------------------
Batch: 5
-------------------------------------------
+---+--------+--------+------+
| id|    name|    dept|salary|
+---+--------+--------+------+
|  1|  mayank|      IT|100000|
|  2|   advay|      HR|150000|
|  3|   rohan|      IT|145000|
|  4|   naman|Hardware| 45000|
|  5|priyansh|      IT|120000|
+---+--------+--------+------+

-------------------------------------------
Batch: 1
-------------------------------------------
-------------------------------------------
Batch: 1
-------------------------------------------
+---+--------+--------+------+
| id|    name|    dept|salary|
+---+--------+--------+------+
|  1|  mayank|      IT|100000|
|  2|   advay|      HR|150000|
|  3|   rohan|      IT|145000|
|  4|   naman|Hardware| 45000|
|  5|priyansh|      IT|120000|
+---+--------+--------+------+

+---+--------+--------+------+
| id|    name|    dept|salary|
+---+--------+--------+------+
|  1|  mayank|      IT|100000|
|  2|   advay|      HR|150000|
|  3|   rohan|      IT|145000|
|  4|   naman|Hardware| 45000|
|  5|priyansh|      IT|120000|
+---+--------+--------+------+

25/03/31 20:19:07 WARN FileStreamSource: Listed 3 file(s) in 20012 ms