In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Cache Data").getOrCreate()
print(spark)

25/03/17 17:19:43 WARN Utils: Your hostname, TTNPL-8203 resolves to a loopback address: 127.0.1.1; using 10.1.243.232 instead (on interface wlp0s20f3)
25/03/17 17:19:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/17 17:19:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/17 17:19:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

<pyspark.sql.session.SparkSession object at 0x7d42b7f64970>

In [3]:
from pyspark.sql.types import *

In [9]:
from pyspark.sql.functions import lit

In [13]:
data = [(1,"mayank",5000),
       (2,"xyz",40000),
       (3,"abc",45000)]



schema = StructType([
    StructField("id",IntegerType(),True),
    StructField("name",StringType(),True),
    StructField("salary",IntegerType(),True)
])

df = spark.createDataFrame(data =data,schema =schema)

In [14]:
df1 = df.withColumn("bonus",df.salary*0.05)

In [15]:
df1.cache()

DataFrame[id: int, name: string, salary: int, bonus: double]

In [16]:
df2_1 = df1.withColumn("state",lit(None))

In [17]:
df2_2 = df1.withColumn("country",lit(None))

In [18]:
df2_1.collect()

[Row(id=1, name='mayank', salary=5000, bonus=250.0, state=None),
 Row(id=2, name='xyz', salary=40000, bonus=2000.0, state=None),
 Row(id=3, name='abc', salary=45000, bonus=2250.0, state=None)]

In [19]:
df2_2.collect()

[Row(id=1, name='mayank', salary=5000, bonus=250.0, country=None),
 Row(id=2, name='xyz', salary=40000, bonus=2000.0, country=None),
 Row(id=3, name='abc', salary=45000, bonus=2250.0, country=None)]

In [20]:
df3 = df.withColumn("tax",df.salary*0.10)

In [21]:
df4 = df3.withColumn("state",lit(None))

In [22]:
df4.show()

+---+------+------+------+-----+
| id|  name|salary|   tax|state|
+---+------+------+------+-----+
|  1|mayank|  5000| 500.0| NULL|
|  2|   xyz| 40000|4000.0| NULL|
|  3|   abc| 45000|4500.0| NULL|
+---+------+------+------+-----+

In [25]:
spark.stop()