In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("TestPySpark").getOrCreate()

df = spark.createDataFrame([(1, "Alice"), (2, "Bob")], ["id", "name"])
df.show()

25/03/10 12:18:36 WARN Utils: Your hostname, TTNPL-8203 resolves to a loopback address: 127.0.1.1; using 10.1.209.89 instead (on interface wlp0s20f3)
25/03/10 12:18:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/10 12:18:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/10 12:18:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+---+-----+
| id| name|
+---+-----+
|  1|Alice|
|  2|  Bob|
+---+-----+

In [2]:
#creating a dataframe from a csv file , infering schema and providing the header
df = spark.read.csv('/home/hdoop/Docs/spark_files/file_CSV_10Mar2025_122000.csv',header = True,inferSchema =True)

In [3]:
df.show()

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
rdd  = spark.sparkContext.textFile('/home/hdoop/Docs/spark_files/file_8Mar2025_172800.txt')

In [7]:
rdd.collect()

['this is a text file.This contains some common text that can be used in common fils.',
 'this is a simple text file thus is with txt.',
 '']

In [8]:
df2 = spark.format("csv").options(header=True,inferSchema=True).load('/home/hdoop/Docs/spark_files/file_CSV_10Mar2025_122000.csv')

AttributeError: 'SparkSession' object has no attribute 'format'

In [9]:
df.show()

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

In [14]:
df.select("id").filter(df["dept"]=="IT").show()

+---+
| id|
+---+
|  1|
|  4|
+---+

In [17]:
df.select("dept").distinct().alias("distinct_dept").show()

+-------+
|   dept|
+-------+
|     HR|
|Finance|
|     IT|
+-------+

In [18]:
df.drop("dept")

DataFrame[id: int, name: string, salary: int]

In [19]:
df.show()

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

In [43]:
data = [
    	(("James","","Smith"),{"id": "36636","gender": "M"}, ["python", "java"]), 
(("Maria","Anne","Jones"),{"id": "39192","gender": "F"}, ["python", "scala"])
]

In [44]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,MapType,ArrayType

In [45]:
structureSchema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField("details", MapType(StringType(), StringType()), True),
         StructField("languages", ArrayType(StringType()), True)
         ])

In [46]:
new_df = spark.createDataFrame(data = data,schema = structureSchema)

In [48]:
new_df.show(truncate = False)

+--------------------+--------------------------+---------------+
|name                |details                   |languages      |
+--------------------+--------------------------+---------------+
|{James, , Smith}    |{gender -> M, id -> 36636}|[python, java] |
|{Maria, Anne, Jones}|{gender -> F, id -> 39192}|[python, scala]|
+--------------------+--------------------------+---------------+

In [39]:
new_df.select(df.name.firstname)

AnalysisException: [INVALID_EXTRACT_BASE_FIELD_TYPE] Can't extract a value from "name". Need a complex type [STRUCT, ARRAY, MAP] but got "STRING".

In [25]:
df.show()

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

In [26]:
df.show(truncate = False)

+---+--------+-------+------+
|id |name    |dept   |salary|
+---+--------+-------+------+
|1  |mayank  |IT     |65000 |
|2  |Sattu   |HR     |78000 |
|3  |Akrash  |Finance|66000 |
|4  |Himanshu|IT     |85000 |
+---+--------+-------+------+

In [27]:
df.show(truncate = True)

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

In [28]:
df.toColumn("new_column_with a_value_to_truncate",100)

AttributeError: 'DataFrame' object has no attribute 'toColumn'

In [29]:
df.select(df.name).show()

+--------+
|    name|
+--------+
|  mayank|
|   Sattu|
|  Akrash|
|Himanshu|
+--------+

In [30]:
df.select(df.name.middlename)

AnalysisException: [INVALID_EXTRACT_BASE_FIELD_TYPE] Can't extract a value from "name". Need a complex type [STRUCT, ARRAY, MAP] but got "STRING".

In [32]:
new_df.select(df.name.firstname, df.name["lastname"], df.details.gender, df.details["id"], df.languages[0]).show()

AttributeError: 'DataFrame' object has no attribute 'details'

In [49]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, MapType, ArrayType

In [50]:

data = [
    	(("James","","Smith"),{"id": "36636","gender": "M"}, ["python", "java"]), 
(("Maria","Anne","Jones"),{"id": "39192","gender": "F"}, ["python", "scala"])
]

In [51]:
structureSchema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField("details", MapType(StringType(), StringType()), True),
         StructField("languages", ArrayType(StringType()), True)
         ])

In [52]:
df = spark.createDataFrame(data=data, schema=structureSchema)

In [53]:
df.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [54]:
df.show(truncate=False)

+--------------------+--------------------------+---------------+
|name                |details                   |languages      |
+--------------------+--------------------------+---------------+
|{James, , Smith}    |{gender -> M, id -> 36636}|[python, java] |
|{Maria, Anne, Jones}|{gender -> F, id -> 39192}|[python, scala]|
+--------------------+--------------------------+---------------+

In [55]:
df.select(df.name.firstname, df.name["lastname"], df.details.gender, df.details["id"], df.languages[0]).show()

+--------------+-------------+---------------+-----------+------------+
|name.firstname|name.lastname|details[gender]|details[id]|languages[0]|
+--------------+-------------+---------------+-----------+------------+
|         James|        Smith|              M|      36636|      python|
|         Maria|        Jones|              F|      39192|      python|
+--------------+-------------+---------------+-----------+------------+

In [56]:
new_df.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- details: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [58]:
new_df.select(new_df.name.firstname, new_df.name["lastname"], new_df.details.gender, new_df.details["id"], new_df.languages[0]).show()

+--------------+-------------+---------------+-----------+------------+
|name.firstname|name.lastname|details[gender]|details[id]|languages[0]|
+--------------+-------------+---------------+-----------+------------+
|         James|        Smith|              M|      36636|      python|
|         Maria|        Jones|              F|      39192|      python|
+--------------+-------------+---------------+-----------+------------+

In [1]:
spark.stop()

NameError: name 'spark' is not defined