In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder\
    .appName("Union on Dataframes")\
    .getOrCreate()

25/03/22 16:44:31 WARN Utils: Your hostname, TTNPL-8203 resolves to a loopback address: 127.0.1.1; using 192.168.163.68 instead (on interface wlp0s20f3)
25/03/22 16:44:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/22 16:44:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7ac2b51d0ac0>

In [5]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType

In [6]:
data= [("James","Sales","NY",90000,34,10000),
       ("Michael","Sales","NY",86000,56,20000),
       ("Robert","Sales","CA",81000,30,23000),
       ("Maria","Finance","CA",90000,24,23000)
      ]
schema = StructType([
    StructField("employee_name",StringType(),True),
    StructField("department",StringType(),True),
    StructField("state",StringType(),True),
    StructField("salary",IntegerType(),True),
    StructField("age",IntegerType(),True),
    StructField("bonus",IntegerType(),True)
])

df = spark.createDataFrame(data = data ,schema =schema)
df.printSchema()
df.show(truncate =False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
+-------------+----------+-----+------+---+-----+

In [7]:
simpleData2 = [("James","Sales","NY",90000,34,10000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
df2 = spark.createDataFrame(data = simpleData2 , schema =schema)
df2.printSchema()
df2.show(truncate = False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- bonus: integer (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

#### union - returns all the rows duplicate or not

In [8]:
unionDF = df.union(df2)
unionDF.show(truncate =False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

#### unionAll - depricated same as union but usually it keeps all the records and the union eliminates the duplicates

In [9]:
unionAllDF = df.unionAll(df2)

In [10]:
unionAllDF.show(truncate =False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|James        |Sales     |NY   |90000 |34 |10000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

#### to eliminate the duplicates use the distinct

In [11]:
unionDF_distinct = df.union(df2).distinct()
unionDF_distinct.show(truncate =False)

[Stage 12:====================================================>   (15 + 1) / 16]

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

#### unionByName()

In [12]:
df1 = spark.createDataFrame(data = [(1,"a",2.0),(2,"b",3.0),(3,"h",4.0)],schema = ["id","name","score1"])

In [13]:
df1.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- score1: double (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

In [18]:
df2 = spark.createDataFrame(data = [(7,"b",4),(8,"l",5)],schema = ["id","name","score0"])

In [19]:
df1.unionByName(df2,allowMissingColumns = True).show()

+---+----+------+------+
| id|name|score1|score0|
+---+----+------+------+
|  1|   a|   2.0|  NULL|
|  2|   b|   3.0|  NULL|
|  3|   h|   4.0|  NULL|
|  7|   b|  NULL|     4|
|  8|   l|  NULL|     5|
+---+----+------+------+

In [20]:
df1.union(df2).show()

+---+----+------+
| id|name|score1|
+---+----+------+
|  1|   a|   2.0|
|  2|   b|   3.0|
|  3|   h|   4.0|
|  7|   b|   4.0|
|  8|   l|   5.0|
+---+----+------+

In [23]:
df3 = spark.createDataFrame(data = [(7,4,"b"),(8,5,"l")],schema = ["id","score0","name"])
df3.show()

+---+------+----+
| id|score0|name|
+---+------+----+
|  7|     4|   b|
|  8|     5|   l|
+---+------+----+

In [25]:
df1.union(df3.select(df3.id,df3.name,df3.score0)).show()
df1.union(df3).printSchema()

+---+----+------+
| id|name|score1|
+---+----+------+
|  1|   a|   2.0|
|  2|   b|   3.0|
|  3|   h|   4.0|
|  7|   b|   4.0|
|  8|   l|   5.0|
+---+----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- score1: string (nullable = true)

In [26]:
df1.unionByName(df3,allowMissingColumns=True).show()

+---+----+------+------+
| id|name|score1|score0|
+---+----+------+------+
|  1|   a|   2.0|  NULL|
|  2|   b|   3.0|  NULL|
|  3|   h|   4.0|  NULL|
|  7|   b|  NULL|     4|
|  8|   l|  NULL|     5|
+---+----+------+------+

In [28]:
spark.stop()