In [13]:
import findspark
findspark.init()  # Initialize findspark

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark in Jupyter") \
    .getOrCreate()

# Verify SparkSession is created
print(spark)

<pyspark.sql.session.SparkSession object at 0x74c3b4deab30>

25/03/10 16:06:02 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [14]:


#creating a dataframe from a csv file , infering schema and providing the header
df = spark.read.csv('/home/hdoop/Docs/spark_files/file_CSV_10Mar2025_122000.csv',header = True,inferSchema =True)

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

None

In [16]:
df.show()

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

In [19]:
df2 =spark.read.format("csv").options(header = True,inferSchema =True).load('/home/hdoop/Docs/spark_files/file_CSV_10Mar2025_122000.csv')

In [20]:
df2.show()

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  1|  mayank|     IT| 65000|
|  2|   Sattu|     HR| 78000|
|  3|  Akrash|Finance| 66000|
|  4|Himanshu|     IT| 85000|
+---+--------+-------+------+

In [21]:
type(spark)

pyspark.sql.session.SparkSession

In [24]:
df3 = spark.read.csv(path=['/home/hdoop/Docs/spark_files/group_loader_files/file1.csv','/home/hdoop/Docs/spark_files/group_loader_files/file2.csv'],inferSchema=True)

In [26]:
df3.show()

+---+--------+-------+-----+
|_c0|     _c1|    _c2|  _c3|
+---+--------+-------+-----+
|  4|himanshu|     HR|48000|
|  5|   rohan|finance|78000|
|  6|   arnav|finance|74000|
|  1|  mayank|     IT|65000|
|  2|     jay|     HR|45000|
|  3|   Rinku|     IT|65000|
+---+--------+-------+-----+

In [27]:
df3.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: integer (nullable = true)

In [28]:
df4 = spark.read.csv(path=['/home/hdoop/Docs/spark_files/group_loader_files/'],inferSchema=True)

In [29]:
df4.show()

+---+--------+-------+-----+
|_c0|     _c1|    _c2|  _c3|
+---+--------+-------+-----+
|  4|himanshu|     HR|48000|
|  5|   rohan|finance|78000|
|  6|   arnav|finance|74000|
|  1|  mayank|     IT|65000|
|  2|     jay|     HR|45000|
|  3|   Rinku|     IT|65000|
+---+--------+-------+-----+

In [31]:
from pyspark.sql.types import *

In [36]:
schema = StructType()\
        .add("id",IntegerType(),True)\
        .add("name",StringType(),True)\
        .add("dept",StringType(),True)\
        .add("salary",IntegerType(),True)

In [39]:
df5 = spark.read.csv('/home/hdoop/Docs/spark_files/group_loader_files/',schema = schema,header=True)

In [40]:
df5.show()

+---+--------+-------+------+
| id|    name|   dept|salary|
+---+--------+-------+------+
|  4|himanshu|     HR| 48000|
|  5|   rohan|finance| 78000|
|  6|   arnav|finance| 74000|
|  1|  mayank|     IT| 65000|
|  2|     jay|     HR| 45000|
|  3|   Rinku|     IT| 65000|
+---+--------+-------+------+

### Write to a csv or parquet file

In [41]:
from pyspark.sql import *

In [43]:
# help(DataFrameWriter)

In [45]:
from pyspark.sql import dataframe

In [46]:
help(dataframe.DataFrame.write)

Help on property:

    Interface for saving the content of the non-streaming :class:`DataFrame` out into external
    storage.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Returns
    -------
    :class:`DataFrameWriter`

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> type(df.write)
    <class '...readwriter.DataFrameWriter'>

    Write the DataFrame as a table.

    >>> _ = spark.sql("DROP TABLE IF EXISTS tab2")
    >>> df.write.saveAsTable("tab2")
    >>> _ = spark.sql("DROP TABLE tab2")

In [49]:
data2 = [(1,"XYZ"),(2,"ABC")]
schema2 = ["id","name"]

df6 = spark.createDataFrame(data = data2,schema= schema2)
df6.show()

+---+----+
| id|name|
+---+----+
|  1| XYZ|
|  2| ABC|
+---+----+

In [53]:
df.write.option("header",True).csv('/home/hdoop/Docs/spark_files/writer_folder/pyspark_practice_2_10Mar2025/first_write')